:root {
    --black: #020617;
    --dark-gray: #0f172a;
    --gray1: #1e293b;
    --gray2: #475569;
    --light-gray: #64748b;
    --dark-blue: #0891b2;
    --blue: #22d3ee;
    --white: #cbd5e1;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--black);
    color: var(--light-gray);
    font-weight: 800;
    font-size: 24px;
    font-style: italic;
    padding: 20px 10px;
    text-align: center;
}

.rps {
    display: flex;
    flex: 1 1 0;
}

.highlight {
    position: absolute;
    top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--white);
    font-weight: 900;
}

.highlight h3 {
    font-size: 26px;
    margin: 0;
}

.highlight p {
    font-size: 22px;
    margin-top: 10px;
}

.player-side, .computer-side {
    padding-top: 80px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    font-size: 18px;
}

.player-side { 
    background-color: var(--gray1);
}

.computer-side { 
    background-color: var(--gray2);
}

.player-side img, .computer-side img {
    height: 250px;
    width: auto;
}

.selection {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.choice {
    padding: 20px;
    background-color: var(--dark-gray);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}

.choice img {
    width: 100px;
    height: 100px;
}

.selection .choice:hover {
    background-color: var(--black);
}

.blur {
    position: absolute;
    height: 100vh;
    width: 100vw;
    filter: blur(8px);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1005;
}

.overlay div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    background-color: var(--gray2);
    color: var(--white);
    font-size: 24px;
    padding: 20px;
    border-radius: 15px;
}

.overlay div h3 {
    margin: 0;
}

.overlay button {
    background-color: var(--gray1);
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    border: solid transparent 2px;
    transition-duration: 200ms;
}

.overlay button:hover {
    background-color: var(--white);
    color: var(--gray2);
}
